body {  
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: url('c:\\Users\\User\\Downloads\\wall-21534_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--header-bg);
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: center; /* Центрируем меню */
  padding: 5px 0;  /* Уменьшаем отступы для компактного меню */
}

.navbar-image {
  height: 40px; /* Уменьшаем высоту изображения в меню */
  width: auto;  /* Ширина будет автоматически изменяться в зависимости от высоты */
  margin: 0 10px; /* Отступы */
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;  /* Уменьшаем расстояние между пунктами меню */
}

.menu li {
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: var(--link-color);
  padding: 8px 12px;  /* Уменьшаем padding для ссылок */
  font-size: 16px; /* Уменьшаем размер шрифта для элементов меню */
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #b11b1b; /* Цвет при наведении */
  border-radius: 5px;
}

.main {
  padding-top: 70px; /* Учитываем фиксированное меню */
}

section {
  padding: 40px 20px;
  border-bottom: 1px solid #234794;
}

button {
  background-color: #ff5722; /* Оранжевый цвет для кнопок */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #94685c; /* Темный оранжевый при наведении */
}

/* Адаптивные стили для уменьшения размера на мобильных устройствах */
@media (max-width: 768px) {
  .navbar-image {
    height: 30px; /* Еще меньше высота изображения на мобильных устройствах */
  }

  .menu {
    flex-direction: column; /* Меню будет в столбик на мобильных */
    align-items: center; /* Центрируем элементы меню */
  }

  .menu a {
    font-size: 14px; /* Меньше шрифт для ссылок */
    padding: 6px 10px; /* Меньше padding на мобильных */
  }

  .navbar {
    padding: 5px 0;  /* Уменьшаем отступы на мобильных */
  }
}
